html,body{
    height: 100%;
}
body{
    display: flex;
    flex-flow: column;
}

.header{
    flex: 0 0 65px;
    background-color: white;
    flex-direction: row;
}

.content{
    flex: 1 0 auto;
    margin-top: -6px;
}

.footer{
    flex: 0 0 61px;
    background-color: #1d1e1f;
    text-align: center;
}
a{
    text-decoration: none;
}

li{
    margin-right: 40px;
}

#leftDiv ul{
    margin: 0 auto;
    float: none;
    width: 90%;
}

#leftDiv ul li{
    color: #444;
}

#leftDiv li{
    padding: 0 0 4px 18px;
    text-indent: 10px;
    margin-bottom: 5px;
    border-bottom: #ccc 1px dashed;
}

#leftDiv ul li ul{
    display: none;
    width: 364px;
    list-style-type: none;
}

#leftDiv li a{
    color: #444;
    height: 29px;
    line-height: 29px;
}

a:visited{
    text-decoration: none;
    color: #444;
}

.nav-link{
    padding: 0 0;
}

.carousel-inner{
    width: auto;
    height: 400px;
}


#MBD img{
    width: 200px;
    height: 133px;
    float: left;
    border:2px solid black;

}

#MBD img:hover{
    border:2px solid red!important;
}

#MBD strong{
    color: mediumblue;
}

#MBD strong:hover{
    color: red!important;
}

.content-header-box{
    position: relative;
    min-height: 307px;
    max-width: 990px;
    margin: 0 auto;
    width: 100%;
}
.content-header-box:before{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    position: absolute;
    right: -166px;
    top: 0;
    background: url('../img/about-content.jpg') no-repeat right top;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    content: '';
}
.inner-box{
    min-height: 130px;
    display: table;
    position: relative;
    max-width: 960px;
    margin: 55px auto 0;
    width: calc(100% - 30px);
}
.image{
    position: absolute;
    top: 0;
    left: 0;
}